@model Login.Models.Yearmonth
@{ ViewBag.Title = "getDropDown";
                Layout = "~/Views/Shared/my2.cshtml";
 }
<center>
    <h2>انتخاب ماه و سال</h2>
</center>
<!--<h2>test</h2>
<form>
    <table>
        <tr>
            <td>


            </td>
        </tr>-->
@*<input href="@Url.Action("submit","Account")" type="submit" value="Submit" />*@
<!--</form>-->
@*<tr>
        <td>
            @if (ViewBag.yearlist != null)
            {
                @Html.DropDownListFor(model => model.id, ViewBag.monthlist as SelectList, "--انتخاب ماه", new { @class = "form-control" })
            }

        </td>
    </tr>*@


<!--</table>-->

<div class="clear-loading spinner">
    <span></span>
</div>
<div class="w3ls-login box box--big">
    <!-- form starts here -->
    <form action="submit" method="post">
        <div class="agile-field-txt">
            @*<input type="text" name="yearname" placeholder="نام کاربری" required="" />*@
            @if (ViewBag.monthlist != null)
            {
@Html.DropDownListFor(model => model.selmonthId, ViewBag.monthlist as SelectList, "--انتخاب ماه", new { @class = "form-control" })}

            @if (ViewBag.monthlist != null)
            {
@Html.DropDownListFor(model => model.selyearId, ViewBag.yearlist as SelectList, "--انتخاب سال", new { @class = "form-control" })}
        </div>

        <input type="submit" value="انتخاب">
    </form>

</div>